{ZL.Source id="项目数据源标签"/}
{ZL.Source id="标准黄页申请信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="{SField sid="项目数据源标签" FD="Tagkey" page="0"/}">
<title>{SField sid="项目数据源标签" FD="Title" page="0"/}</title>
{ZL:Boot()/}
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css">
<link href="{$CssDir/}global-hy.css" rel="stylesheet" type="text/css" />
<style>#button,#button2{ border:none; padding:6px 10px 6px 10px; cursor:pointer;}
#button{ margin-left:10px;}
.foot{ margin-top:10px;}
.type_li li{ background:none;}
</style>
</head>
<body>
<div class="top_box">
<div class="container padding0">
<div class="row margin0">
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12  pull-left padding0">
<div class="padding0 login"><iframe src="/login1.aspx" frameborder="0" height="30px" width="100%" scrolling="no" allowtransparency="true"></iframe></div></div>
<div class="col-lg-3 col-md-3 col-sm-3  col-xs-12 top_li  pull-left">
<ul class="padding0">
<li><b style="font-size:14px;"><a href="/" target="_blank">U8首页</a></b><span class="line">|</span></li> 
<li><a href="{ZL:GetNodeLinkUrl(1)/}" target="_blank">创业资讯</a><span class="line">|</span></li> 
<li class="dropdown"><a href="#" class="dropdown-toggle dh" data-toggle="dropdown">行业频道 <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="{ZL:GetNodeListUrl(32)/}" target="_blank">新闻中心</a></li>
<li><a href="{ZL:GetNodeLinkUrl(1)/}" target="_blank">创业资讯</a></li>
</ul></li>
</ul>
</div><!--top_middle end -->
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<ul class="top_li2">
<li><a  href="#"><img src="{$CssDir/}images/top-wx.jpg" alt="" class="img-responsive" /></a></li>
<li><a href="http://weibo.com/zoomlacms" target="_blank" title="收听我们的新浪微博"><img src="{$CssDir/}images/sina.jpg" alt="收听我们的新浪微博" class="img-responsive"></a></li>
<li><a href="http://t.qq.com/wwwwzf" target="_blank" title="收听我们的腾讯微博"><img src="{$CssDir/}images/tenxun.jpg" alt="收听我们的腾讯微博" class="img-responsive"></a></li>
<li class="jion">|<a href="javascript:window.external.addFavorite('{$SiteURL/}','{$SiteName/}');">加入收藏夹</a></li> </ul>
</div>
</div>
</div><!--padding5 end -->
</div><!--top 结束-->
<div class="container padding0 page_topbox">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 page_logo"><a href="/Page/Default.aspx?pageid={SField sid="标准黄页申请信息数据源" FD="id" page="0"/}"><img src="{ZL:GetPicUrl({SField sid="标准黄页申请信息数据源" FD="logo" page="0"/})/}" class="img-responsive"></a></div><!--page_banner end -->
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 page_ri padding0">
<div class="navbar-default" id="top_nav1">
<div class="page_navli padding0">
<div class="navbar" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse nav_list">
<ul class="nav navbar-nav">
<li class="home"><a href="/">首 页</a></li>
<li class="meuses2"><a href="{ZL:GetNodeLinkUrl(2)/}?pid=574&GName={$GetUrlencode(服饰鞋包)$}" target="_blank">服饰鞋包</a></li>
<li class="meuses3"><a href="{ZL:GetNodeLinkUrl(3)/}?pid=584&GName={$GetUrlencode(特色餐饮)$}" target="_blank">特色餐饮</a></li>
<li class="meuses4"><a href="{ZL:GetNodeLinkUrl(4)/}?pid=593&GName={$GetUrlencode(美容养生)$}" target="_blank">美容养生</a></li>
<li class="meuses5"><a href="{ZL:GetNodeLinkUrl(5)/}?pid=602&GName={$GetUrlencode(饰品玩具)$}" target="_blank">饰品玩具</a></li>
<li class="meuses6"><a href="{ZL:GetNodeLinkUrl(6)/}?pid=618&GName={$GetUrlencode(家居装饰)$}" target="_blank">家居装饰</a></li>
<li class="meuses7"><a href="{ZL:GetNodeLinkUrl(7)/}?pid=618&GName={$GetUrlencode(名酒代理)$}" target="_blank">名酒代理</a></li>
<li class="meuse13"><a href="{ZL:GetNodeLinkUrl(13)/}?pid=625&GName={$GetUrlencode(新锐连锁)$}" target="_blank">新锐连锁</a></li>
<li class="meuses8"><a href="{ZL:GetNodeLinkUrl(8)/}?pid=634&GName={$GetUrlencode(网络创业)$}" target="_blank">网络创业</a></li>
<li class="meuses9"><a href="{ZL:GetNodeLinkUrl(9)/}" target="_blank">视频专区</a></li>
</ul>
</div><!--scolls end -->
</div>
</div><!--page_navli end -->

<!-- 导航结束 -->
</div><!--container end -->
<div class="type_lis">
<ul class="padding0">
<li><a href="#" target="_blank">快餐</a></li>
<li><a href="#" target="_blank">中餐</a></li>
<li><a href="#" target="_blank">饮料</a></li>
<li><a href="#" target="_blank">白酒</a></li>
<li><a href="#" target="_blank">童装</a></li>
<li><a href="#" target="_blank">女装</a></li>
<li><a href="#" target="_blank">鞋包</a></li>
<li><a href="#" target="_blank">家电</a></li>
<li><a href="#" target="_blank">精品</a></li>
<li><a href="#" target="_blank">装饰</a></li>
<li><a href="#" target="_blank">环保</a></li>
<li><a href="#" target="_blank">设备</a></li>
<li><a href="#" target="_blank">网校</a></li>
<li><<a href="#" target="_blank">保健</a></li>
<li><a href="#" target="_blank">美妆</a></li>
<li><a href="#" target="_blank">玩具</a></li>
<li><a href="#" target="_blank">汽车</a></li>
<li><a href="#" target="_blank">数码</a></li>
</ul>
</div><!--type_list end -->
</div><!--page_ri end -->
</div><!--page_topbox end -->
<div class="container padding0">
<div class="row margin0">
<div class="top_xian">
<ul class="padding0">
{ZL.Label id="输出黄页项目列表" Titlenum="14" ShowNum="30" Inputer="{SField sid="标准黄页申请信息数据源" FD="UserName" page="0"/}" NodeID="2" /}
</ul>
</div>
</div>
</div>

<div class="navbar-default" id="top_nav">
<div class="container padding0">
<div class="row margin0">
<div class="navbar" role="navigation">
<div class="container padding0">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav nav_list">
<li class="home0"><a href="/Page/Default.aspx?pageid={$GetRequest(pageid)$}" target="_blank"> 首页</a></li>
<li class="home1"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=5" target="_blank">公司介绍</a></li>
<li class="home2"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=2" target="_blank"> 产品展示</a></li>
<li class="menus3"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=3" target="_blank">招商政策</a></li>
<li class="menus4"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=4" target="_blank">新闻中心</a></li>
<li class="menus6"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=6" target="_blank">投资考察会</a></li>
<li class="menus7"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=7" target="_blank">信誉认证</a></li>
<li class="menus8"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=8" target="_blank">成功案例</a></li>
<li class="menus9"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=9" target="_blank">联系我们</a></li>
</ul>
</div><!--scolls end -->
</div>
</div>
</div><!--navbar_sy end -->
</div><!--row end -->
<!-- 导航结束 -->
</div><!--container end -->

<div class="container marginbot10">
 <div class="content-ri" >
 <div class="page_content">
{SField sid="项目数据源标签" FD="content" page="0"/}
</div><!--page_content end -->

<div class="formlist">

 <div class="formpic2">
<img src="{$CssDir/}images/gbook_right_text.jpg" class=" img-responsive" alt="" />
</div>
<form name="form7" method="post" action="/PubAction.aspx">
<div class="form-list">
<div><strong class=" pull-left">姓 名</strong><input name="PubTitle" type="text" id="PubTitle" size="50" class="form-control" placeholder="请输入您的姓名"><input type="hidden" name="PubID" id="PubID" value="7">
<input type="hidden" name="PubContentid" id="PubContentid" value="{$GetRequest(itemid)$}"><p>*请填写您的真实姓名</p></div><div class=" clearfix"></div>
<div><strong class=" pull-left">电 话</strong><input type="text" name="tel" class="form-control" placeholder="请填写您的手机号码或座机"><p>*请填写您的手机号码或座机</p></div><div class=" clearfix"></div>
<div><strong class=" pull-left">地 址</strong><input name="address" type="text" class="form-control" placeholder="请填写您的联系地址"><p>请填写您的联系地址</p></div><div class=" clearfix"></div>
<div><strong class=" pull-left">邮 箱</strong><input type="text" name="e-mail" class="form-control" placeholder="请输入您的邮箱"><p>便于接受电子材料</p></div><div class=" clearfix"></div>
<div><strong class=" pull-left">留言</strong><p>*</p><span class="form-list-c">请填写留言内容</span></div><div class=" clearfix"></div>
</div>
<div class=" col-lg-6 form-message">
<textarea name="PubContent" cols="50"  id="PubContent" class="form-control" id="demo9" rows="6" placeholder="请填写您的联系地址" ></textarea>
<div class=" form-button"> <input type="submit" class="btn-danger" name="button2" id="button2" value="提交"><input type="reset" class="btn-danger" name="button" id="button" value="重置">
</div>
</div>
<div class=" col-lg-4 form-message-list" >
<p>请您填写留言或选择下列快捷留言</p>
<div id="demo">
<div id="demo1">
<li onclick="mylist1()">请问贵公司哪里有样板店？</li>
<li onclick="mylist2()">请给我打电话，并寄招商资料。</li>
<li onclick="mylist3()">请问我这个地方有加入者了吗？</li>
<li onclick="mylist4()">我想加入，请来电话告诉我具体细节。</li>
<li onclick="mylist5()">请问贵公司哪里有样板店？</li>
<li onclick="mylist6()">请给我打电话，并寄招商资料。</li>
<li onclick="mylist6()">请问我这个地方有加入者了吗？</li>
<li onclick="mylist6()">请给我打电话，并寄招商资料。</li>
<li onclick="mylist6()">请问我这个地方有加入者了吗？</li>
</div>
<div id="demo2"></div>
</div>
</div><!--form-message-list end -->
</form>
 <div class=" clearfix"></div>
</div></div>

<div class="clearfix"> </div>
</div>
<div class=" clearfix"></div>
{ZL.Label id="全站底部"/}
<script>
function mylist1()
{
$("#demo9").val("请问贵公司哪里有样板");
}
function mylist2()
{
$("#demo9").val("请给我打电话，并寄招商资料");
}
function mylist3()
{
$("#demo9").val("我想加入，请来电话告诉我具体细节");
}
function mylist4()
{
$("#demo9").val("请给我打电话，并寄招商资料");
}
function mylist5()
{
$("#demo9").val("请给我打电话，并寄招22商资料");
}
function mylist6()
{
$("#demo9").val("请给我打电话，并寄招商33资料");
}
</script>
<div style="display:none">
<iframe src="/ViewHistory.aspx?InfoId={$GetRequest(itemid)$}&type=黄页"></iframe>
</div>

</body>
</html>