{ZL.Source id="公司新闻数据源标签"/}
{ZL.Source id="标准黄页申请信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="公司新闻数据源标签" FD="Title" page="0"/}</title>
<meta name="Keywords" content="{SField sid="公司新闻数据源标签" FD="Tagkey" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css">
<style>.nav_list .home0 a{text-decoration:none;color:#C40000;text-align:center;} 
.type_li li{ background:none;}
</style>
</head>
<body>
<div class="top_box">
<div class="container padding0">
<div class="row margin0">
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12  pull-left padding0">
<div class="padding0 login"><iframe src="/login1.aspx" frameborder="0" height="30px" width="100%" scrolling="no" allowtransparency="true"></iframe></div></div>
<div class="col-lg-3 col-md-3 col-sm-3  col-xs-12 top_li  pull-left">
<ul class="padding0">
<li><a href="/User/Login.aspx?ReturnUrl=" target="_blank">免费发布广告</a><span class="line">|</span></li> 
<li class="dropdown"><a href="#" class="dropdown-toggle dh" data-toggle="dropdown">网站导航 <b class="caret"></b></a>
<ul class="dropdown-menu" role="menu">
<li><a href="/class_1/default.aspx" target="_blank">U8资讯</a></li>
<li><a href="/Class_54/Default.aspx" target="_blank">U8导航站</a></li>
<li><a href="/Class_55/Default.aspx" target="_blank">邀请有奖</a></li>
<li><a href="http://www.1ytgw.com" target="_blank">1元淘购</a></li>
<li><a href="/Item/394.aspx" target="_blank">帮助中心</a></li>
</ul></li>
</ul>
</div><!--top_middle end -->
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<ul class="top_li2">
<li><a href="http://weibo.com/zoomlacms" target="_blank" title="收听我们的新浪微博"><img src="{$CssDir/}images/sina.jpg" alt="收听我们的新浪微博" class="img-responsive"></a></li>
<li><a href="http://t.qq.com/wwwwzf" target="_blank" title="收听我们的腾讯微博"><img src="{$CssDir/}images/tenxun.jpg" alt="收听我们的腾讯微博" class="img-responsive"></a></li>
<li><img src="{$CssDir/}images/ptebrvxg008.png" alt="有问题请联系我们" class="img-responsive"></li>  
</ul>
</div>
</div>
</div><!--padding5 end -->
</div><!--top 结束-->
<div class="container padding0 page_topbox">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 page_logo"><a href="/Page/Default.aspx?pageid={SField sid="标准黄页申请信息数据源" FD="id" page="0"/}"><img src="{$CssDir/}images/logo.gif" class="img-responsive"></a></div><!--page_banner end -->
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 page_ri padding0">
<div class="navbar-default" id="top_nav1">
<div class="page_navli padding0">
<div class="navbar" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse nav_list">
<ul class="nav navbar-nav">
<li class="home"><a href="/">首 页</a></li>
<li class="meuses2"><a href="{ZL:GetNodeLinkUrl(2)/}?pid=574&GName={$GetUrlencode(服饰鞋包)$}" target="_blank">服饰鞋包</a></li>
<li class="meuses3"><a href="{ZL:GetNodeLinkUrl(3)/}?pid=584&GName={$GetUrlencode(特色餐饮)$}" target="_blank">特色餐饮</a></li>
<li class="meuses4"><a href="{ZL:GetNodeLinkUrl(4)/}?pid=593&GName={$GetUrlencode(美容养生)$}" target="_blank">美容养生</a></li>
<li class="meuses5"><a href="{ZL:GetNodeLinkUrl(5)/}?pid=602&GName={$GetUrlencode(饰品玩具)$}" target="_blank">饰品玩具</a></li>
<li class="meuses6"><a href="{ZL:GetNodeLinkUrl(6)/}?pid=618&GName={$GetUrlencode(家居装饰)$}" target="_blank">家居装饰</a></li>
<li class="meuses7"><a href="{ZL:GetNodeLinkUrl(7)/}?pid=618&GName={$GetUrlencode(名酒代理)$}" target="_blank">名酒代理</a></li>
<li class="meuse13"><a href="{ZL:GetNodeLinkUrl(13)/}?pid=625&GName={$GetUrlencode(新锐连锁)$}" target="_blank">新锐连锁</a></li>
<li class="meuses8"><a href="{ZL:GetNodeLinkUrl(8)/}?pid=634&GName={$GetUrlencode(网络创业)$}" target="_blank">网络创业</a></li>
<li class="meuses9"><a href="{ZL:GetNodeLinkUrl(9)/}" target="_blank">视频专区</a></li>
</ul>
</div><!--scolls end -->
</div>
</div><!--page_navli end -->

<!-- 导航结束 -->
</div><!--container end -->
<div class="type_lis">
<ul class="padding0">
<li><a href="#" target="_blank">快餐</a></li>
<li><a href="#" target="_blank">中餐</a></li>
<li><a href="#" target="_blank">饮料</a></li>
<li><a href="#" target="_blank">白酒</a></li>
<li><a href="#" target="_blank">童装</a></li>
<li><a href="#" target="_blank">女装</a></li>
<li><a href="#" target="_blank">鞋包</a></li>
<li><a href="#" target="_blank">家电</a></li>
<li><a href="#" target="_blank">精品</a></li>
<li><a href="#" target="_blank">装饰</a></li>
<li><a href="#" target="_blank">环保</a></li>
<li><a href="#" target="_blank">设备</a></li>
<li><a href="#" target="_blank">网校</a></li>
<li><<a href="#" target="_blank">保健</a></li>
<li><a href="#" target="_blank">美妆</a></li>
<li><a href="#" target="_blank">玩具</a></li>
<li><a href="#" target="_blank">汽车</a></li>
<li><a href="#" target="_blank">数码</a></li>
</ul>
</div><!--type_list end -->
</div><!--page_ri end -->
</div><!--page_topbox end -->
<div class="container padding0">
<div class="row margin0">
<div class="top_xian">
<ul class="padding0">
{ZL.Label id="输出黄页项目列表" Titlenum="14" ShowNum="30" Inputer="{SField sid="标准黄页申请信息数据源" FD="UserName" page="0"/}" NodeID="2" /}
</ul>
</div>
</div>
</div>

<div class="navbar-default" id="top_nav">
<div class="container padding0">
<div class="row margin0">
<div class="navbar" role="navigation">
<div class="container padding0">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav nav_list">
<li class="home0"><a href="/Page/Default.aspx?pageid={$GetRequest(pageid)$}" target="_blank"> 首页</a></li>
<li class="home1"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=5" target="_blank">公司介绍</a></li>
<li class="home2"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=2" target="_blank"> 产品展示</a></li>
<li class="menus3"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=3" target="_blank">招商政策</a></li>
<li class="menus4"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=4" target="_blank">新闻中心</a></li>
<li class="menus6"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=6" target="_blank">投资考察会</a></li>
<li class="menus7"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=7" target="_blank">信誉认证</a></li>
<li class="menus8"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=8" target="_blank">成功案例</a></li>
<li class="menus9"><a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=9" target="_blank">联系我们</a></li>
</ul>
</div><!--scolls end -->
</div>
</div>
</div><!--navbar_sy end -->
</div><!--row end -->
<!-- 导航结束 -->
</div><!--container end -->

<div class="container marginbot10">
<div class="row">
 
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding5 myContent_lbox">
 
<div class="topic_list">
<div class="title_list"><strong>企业信息</strong></div><!--topic end -->
<div class="c_box">
<div class="type_li">
<ul class="padding0"> 
 <li><strong>企业名称：</strong>{SField sid="标准黄页申请信息数据源" FD="companyName" page="0"/}</li>
 <li><strong>项目类型：</strong>{SField sid="标准黄页申请信息数据源" FD="lb" page="0"/}</li>
 <li><strong>诚信指数：</strong>5</li>
  <li><strong>项目评级：</strong> ★★★★★</li>
  </ul>
</div><!--topic_li end --></div><!--topic_li end -->
<div class="clearfix"></div>
</div><!--topic_list end -->
<div class="topic_list">
<div class="title_list"><strong>{SField sid="标准黄页申请信息数据源" FD="companyName" page="0"/}介绍</strong></div><!--topic end -->
<div class="c_box">
<p>{SField sid="标准黄页申请信息数据源" FD="PageInfo" page="0"/}<a href="/Page/pagelist.aspx?pageid={$GetRequest(pageid)$}&NodeID=5" target="_blank">详情介绍>></a></p>
<div class="clearfix"></div>
</div><!--topic_list end -->
 
<div class="clearfix"></div>
</div><!--topic_list end -->


<div class="topic_list">
<div class="title_list"><strong>企业宣传片集锦</strong></div><!--topic end -->
<div class="c_box" style="min-height:200px;">
 
 
 <div class="clearfix"></div>
</div></div><!--topic_list end -->


<div class="topic_list">
<div class="title_list"><strong>投资考察联系电话</strong></div><!--topic end -->
<div class="c_box">
<p>{SField sid="标准黄页申请信息数据源" FD="Tel" page="0"/} </p>
<div class="clearfix"></div>
</div><!--topic_list end -->
 
<div class="clearfix"></div>
</div>



<div class=" clearfix"></div>
</div><!-- content-l end-->
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 content-ri" >
<ol class="breadcrumb">
      <li><a href="/Page/Default.aspx?pageid={$GetRequest(pageid)$}" target="_blank">首页</a></li>
      <li>{SField sid="公司新闻数据源标签" FD="title" page="0"/}</li>
   
    </ol>
<div class="page_content line26 font14">
<h1>{SField sid="公司新闻数据源标签" FD="title" page="0"/}</h1>
<hr/>

{SField sid="公司新闻数据源标签" FD="content" page="0"/}
</div>
</div>
</div>
<div class="clearfix"> </div>
</div>
<div class="clearfix"> </div>
{ZL.Label id="全站底部"/}

</body>
</html>