<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>U8商道网-最新商品大分类页广告报价</title>
<style type="text/css">
body {
	background-color: #CC9;
}
</style>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th align="center" valign="middle" scope="col"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_01.gif" width="1201" height="141" /></th>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_02.gif" width="1201" height="133" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_03.gif" width="1201" height="122" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_04.gif" width="1201" height="117" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_05.gif" width="1201" height="119" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_06.gif" width="1201" height="130" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_07.gif" width="1201" height="130" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_08.gif" width="1201" height="148" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_09.gif" width="1201" height="111" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_10.gif" width="1201" height="83" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_11.gif" width="1201" height="133" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_12.gif" width="1201" height="215" /></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/Template/u8/style/u8rbww/umkkddwvodrbww_13.gif" width="1201" height="363" /></td>
  </tr>
</table>
</body>
</html>