{ZL.Source id="文章模型数据源标签"/}
<!DOCTYPE HTML>
<html><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/Template/office/style/images/win8_symbol_140x140.png"/>
<title>U8商道网广告位价格优惠大酬宾,快速抢黄金位_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
{ZL:Boot()/}
<script type="text/javascript" src="{$CssDir/}js/dh_1.js"></script>
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#box .col-lg-9,#box .col-lg-3{padding-left:0px;}
#nav #m{ZL.Label id="抽取父节点ID" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" /}{ background:url({$CssDir/}Images/n{ZL.Label id="抽取父节点ID" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" /}.jpg) no-repeat;}
.mainR_li .menues{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/} a{padding-left:16px; text-decoration:none; color:#F00;background:url({$CssDir/}images/left_bg.jpg) left  no-repeat;}
.imgbox{min-height:350px;background:url({$CssDir/}images/about.jpg) left  repeat-x ;}

</style>
</head>
<body>
{ZL.Label id="全站头部"/}
<!--主体开始 -->



<div class="content_a" style="margin-top:10px;"></div>
<body>
<table width="1155" border="1" align="center" cellpadding="0" cellspacing="0">
  <tr align="center" valign="middle">
    <th width="18%" bgcolor="#FFFFCC" scope="col">广告位置</th>
    <th width="61%" bgcolor="#FFFFCC" scope="col">价格（优惠大酬宾）</th>
    <th width="21%" bgcolor="#FFFFCC" scope="col">查看广告位置及价格</th>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#66FFCC">首页广告联展</td>
    <td rowspan="3" align="center" valign="middle" bgcolor="#CCCCFF"><font color="#F00">优惠活动火爆进行中，首页黄金广告位，超低价，10元一个月，20元3个月</font></td>
    <td align="center" valign="middle" bgcolor="#CCFFFF"><a href="/Class_63/Default.aspx" target="_blank">查看详情〉〉〉</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#66FFCC">商品大分类页 固定位置</td>
    <td align="center" valign="middle" bgcolor="#CCFFFF"><a href="/Class_65/Default.aspx" target="_blank">查看详情〉〉〉</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#66FFCC">商品小分类页 固定位置</td>
    <td align="center" valign="middle" bgcolor="#CCFFFF"><a href="/Class_66/Default.aspx" target="_blank">查看详情〉〉〉</a></td>
  </tr>
  <tr>
    <td colspan="3" align="center" valign="middle" bgcolor="#CCCCCC">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#66FFCC">U8资讯网&nbsp;&nbsp;&nbsp;&nbsp; 固定位置</td>
    <td rowspan="3" align="center" valign="middle" bgcolor="#CCCCFF">资讯网广告展示优惠进行中：1个月打9折、3个月打8折（推荐）、6个月打7折、12个月打5折</td>
    <td align="center" valign="middle" bgcolor="#CCFFFF"><a href="/Class_67/Default.aspx" target="_blank">查看详情〉〉〉</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#66FFCC">资讯内页&nbsp;&nbsp;&nbsp;&nbsp; 固定位置</td>
    <td align="center" valign="middle" bgcolor="#CCFFFF"><a href="/Class_68/Default.aspx" target="_blank">查看详情〉〉〉</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#66FFCC">资讯内容页 固定位置</td>
    <td align="center" valign="middle" bgcolor="#CCFFFF"><a href="/Class_69/Default.aspx" target="_blank">查看详情〉〉〉</a></td>
  </tr>
  <tr>
    <td colspan="3" align="center" valign="middle" bgcolor="#CCCCCC">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" bgcolor="#66FFCC">U8导航网&nbsp;&nbsp;&nbsp; 固定位置</td>
    <td align="center" valign="middle" bgcolor="#CCCCFF">导航网广告展示优惠进行中：1个月打9折、3个月打8折（推荐）、6个月打7折、12个月打5折</td>
    <td align="center" valign="middle" bgcolor="#CCFFFF"><a href="/Class_64/Default.aspx" target="_blank">查看详情〉〉〉</a></td>
  </tr>
  <tr>
    <td colspan="3" align="center" valign="middle" bgcolor="#CCFFCC"> 网络广告服务报价（以上价格仅供参考） 咨询请联系本网站QQ：<a target=blank href=http://wpa.qq.com/msgrd?V=1&Uin=578076010&Site=U8商道网客服&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:578076010:9 alt="投放广告请联系"></a> 电话：18885684001 </td>
  </tr>
  <tr>
    <td colspan="3" align="center" valign="middle" bgcolor="#CCCCCC">&nbsp;</td>
  </tr>
</table>



<div class="content_a" style="margin-top:10px;"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 myContent_rbox  padding0">
<div style=" margin-left:95px;">
<div style="margin-right:95px;">
<div class="Recommend">
<div class="Recommend_list"><strong>最新商品店主推荐</strong></div><!--topic end -->
<div class="project_li">
<ul class="padding0" align="center" >  
{ZL.Label id="输出黄页分类_带新推荐" Titlenum="25" ShowNum="18" synnum="26" /}
</ul><div class="clearfix"></div>
</div>
</div>
</div>
</div><!--Recommend_li end -->
</div><!--Recommend end -->




<div class="clearfix"></div>
</div><!--container end-->

<!--内容主体结束 -->
{ZL.Label id="全站底部"/}

</body>
</html>