/*public begin*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{
	font-size: 12px;
	line-height: 20px;
	background-color: #99CCFF;
}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
img,fieldset,iframe,input{border:0;}
input,button,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;}
input,select,img{vertical-align:middle; border:none; outline:none;}
em,i{font-style:normal;}
span,i,em{display:inline-block;/*display:-moz-inline-stack;*/zoom:1;*display:inline;}
a{text-decoration:none}

.clear{-zoom:1;*zoom:1;clear:both;overflow:hidden}
.clear:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clear_{clear:both;height:0;overflow:hidden}

.left{float:left;}
.right{float:right}
.pos_rel{position:relative}

.ov_h{overflow:hidden;}

.white_o_{color:#fff;}
.white_o_ a{color:#fff;}
.white_o_ a:hover{color:#fc6801; text-decoration:underline;}

.gray_{color:#333333;}
.gray_ a{color:#333333;}
.gray_ a:hover{color:#333333; text-decoration:underline;}

.gray_o_{color:#333333;}
.gray_o_ a{color:#333333;}
.gray_o_ a:hover{color:#fc6801; text-decoration:underline;}

.green{color:#10b606;}
.green a{color:#10b606;}
.green a:hover{color:#10b606; text-decoration:underline;}

.green2{color:#9ed18e;}
.green2 a{color:#9ed18e;}

/*载入字体 begin*/
@font-face {font-family: 'du-iconfont';
    src: url('/Skin/Default/Img/iconfont/iconfont.eot'); /* IE9*/
    src: url('/Skin/Default/Img/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/Skin/Default/Img/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/Skin/Default/Img/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/Skin/Default/Img/iconfont/iconfont.svg#du-iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: 'du-icon';
    src: url('/Skin/Default/Img/Class_Group_icon/iconfont.eot'); /* IE9*/
    src: url('/Skin/Default/Img/Class_Group_icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/Skin/Default/Img/Class_Group_icon/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/Skin/Default/Img/Class_Group_icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/Skin/Default/Img/Class_Group_icon/iconfont.svg#du-icon') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: 'du-about';
    src: url('/Skin/Default/Img/about_icon/iconfont.eot'); /* IE9*/
    src: url('/Skin/Default/Img/about_icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/Skin/Default/Img/about_icon/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/Skin/Default/Img/about_icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/Skin/Default/Img/about_icon/iconfont.svg#du-about') format('svg'); /* iOS 4.1- */
}
/*载入字体 end*/
i,.nav em.zhuye i{font-family:du-iconfont;}
.nav i{font-family:du-icon;}

.P_main{width:1000px; margin:0 auto;}
.min_w{min-width:1000px;}

.m_b_10{margin-bottom:10px;}
.p_b_5{padding-bottom:5px;}
/*public end*/

/*header begin*/
.header{width:100%; height:30px; line-height:30px; background:#F3F3F3; border-bottom:1px solid #D6D6D6;}
.header ul.left{padding-left:5px; width:312px; height:30px; overflow:hidden;}
.header .left li{float:left;}
.header .left li em{padding:0 5px;}
.header .right span{width:80px; height:30px; color:#fff; padding-left:10px; background:#0EB408 url('http://x031.2014.hx008.com/Template/u8/style/images/head_bg.jpg') no-repeat right top; }
.header .right p{padding-left:5px; cursor:pointer;}
.header .right p i{padding-left:5px;display:none;}
/*换肤 begin*/
.pf{/*height:195px;*/ height:140px; background:#E6EAEB; display:none; overflow:hidden;}
.pf .P_main{position:relative;}
.pf i{width:18px; height:58px; line-height:58px; text-align:center; margin-top:38px; border:1px solid #D0D1D3; background:#F7F8FA; cursor:pointer; position:absolute;}
.pf i.up{left:0; top:0;}
.pf i.down{right:0; top:0;}
.pf .pf_box{width:960px; height:132px; overflow:hidden; display:block; margin:0 20px; position:relative;}
.pf .pf_box p.moren{width:138px; height:94px; position:absolute; left:0px; top:10px; z-index:9; display:none; padding:10px; background:#E6EAEB;}
.pf .pf_box p.moren img{width:136px; height:92px; border:2px solid #D3D8DB;}
.pf .pf_box ul{float:left; height:112px; padding:10px 0; margin-left:0;}
.pf ul li{float:left; padding:10px; z-index:1;}
.pf ul li a,.pf .pf_box p.moren a{display:block; width:140px; height:96px; position:relative;}
.pf ul li em,.pf .pf_box p.moren em{width:26px; height:25px; background:url('http://x031.2014.hx008.com/Template/u8/style/images/select.png') no-repeat; position:absolute; right:-8px; top:-8px; display:none;}
.pf ul li.current em{display:block;}
.pf ul li img{width:136px; height:92px; border:2px solid #D3D8DB;}
.pf ul li span,.pf .pf_box p.moren span{width:136px; height:22px; line-height:22px; text-align:center; color:#fff; background:#000; position:absolute; left:2px; bottom:2px; filter:alpha(opacity=0); opacity:0;}
/*换肤 end*/
/*header end*/

/*footer begin*/
.footer{width:100%; height:40px; line-height:40px; background:#919191; font-size:14px;}
.footer ul li{float:left;}
.footer ul li em{padding:0 22px;}
.footer p i{font-size:20px; padding-right:5px; padding-top:2px;}

/*footer end*/

/*right_nav begin*/
.right_nav{position:fixed; right:80px; bottom:20px;}
.right_nav ul{width:66px; overflow:hidden;}
.right_nav ul li{width:66px; height:50px; margin-bottom:2px; background:#0FB606; overflow:hidden; position:relative; cursor:pointer;}
.right_nav ul li span{position:absolute; right:0; top:0; width:0; height:0;/* border-left: 16px solid transparent; border-top: 16px solid #FBFBFB; display:none;*/}
.right_nav ul li.current{background:url("http://x031.2014.hx008.com/Template/u8/style/images/right_nav_bg.png") no-repeat;color:#fff; }
.right_nav ul li.back_top{width:64px; height:48px; background:#FBFBFB; border:1px solid #0FB606;}
.right_nav ul li.back_top a{color:#0FB606;}
.right_nav ul li a{color:#fff; display:block;}
.right_nav ul li i{font-family:du-icon; float:left; width:66px; height:30px; line-height:30px; text-align:center; font-size:24px;}
.right_nav ul li.back_top i,.right_nav ul li.first i{font-family:du-iconfont;}
.right_nav ul li em{float:left; width:66px; text-align:center; height:20px; font-size:13px;}

/*解决IE6漂浮 begin*/
/*--解决IE6漂浮元素振动 begin*/
* html,* html body{background:url(about:blank); background-attachment:fixed;}
/*--解决IE6漂浮元素振动 end*/
* html .right_nav{
    position:absolute;
    left:expression(eval(document.documentElement.scrollLeft + (document.documentElement.clientWidth-146)));
    top:expression(eval(document.documentElement.scrollTop + (document.documentElement.clientHeight-570)));
    /*
        绝对定位（盒子高+bottom=570,宽+right=146）
        left：网页被卷去的左 + （网页可见区域宽-146）
        top：网页被卷去的高 + （网页可见区域高-570） 
    */
    /*document.documentElement.scrollLeft 网页被卷去的左*/
    /*document.documentElement.scrollTop 网页被卷去的高*/
    /*document.documentElement.clientWidth 网页可见区域宽;*/
    /*document.documentElement.clientHeight 网页可见区域高;*/
}
/*解决IE6漂浮 end*/
/*right_nav end*/

/*皮肤 begin*/
body.moren .content{background:#FBFBFB;}
body.bbjq .content{background:#F0F8FB url('http://x031.2014.hx008.com/Template/u8/style/images/bbjq.jpg') no-repeat center top;}
body.xxdn .content{background:#BEDEE9 url('http://x031.2014.hx008.com/Template/u8/style/images/pifu/xxdn.jpg') no-repeat center top;}
body.cyh .content{background:#FCFBFF url('http://x031.2014.hx008.com/Template/u8/style/images/cyh.jpg') no-repeat center top;}
body.yer .content{background:#F8F8F8 url('http://x031.2014.hx008.com/Template/u8/style/images/yer.jpg') no-repeat center top;}
body.ly .content{background:#A50E2B url('http://x031.2014.hx008.com/Template/u8/style/images/ly.png') no-repeat center top;}
body.wql .content{background:#F9F6F1 url('http://x031.2014.hx008.com/Template/u8/style/images/wql.jpg') no-repeat center top;}
body.ali .content{background:#F7F7F7 url('http://x031.2014.hx008.com/Template/u8/style/images/ali.jpg') no-repeat center top;}
body.syz .content{background:#E6F4FF url('http://x031.2014.hx008.com/Template/u8/style/images/syz.jpg') no-repeat center top;}
body.chuyin .content{background:#F7F7F7 url('http://x031.2014.hx008.com/Template/u8/style/images/chuyin.jpg') no-repeat center top;}

/*皮肤 begin*/
