{ZL.Source id="视频数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="视频数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="视频数据源标签" FD="Tagkey" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script src="/js/jquery.lazyload.js" type="text/javascript"></script>
<script type="text/javascript" src="{$CssDir/}js/dh_1.js"></script>
<script type="text/javascript" src="{$CssDir/}js/flv.js"></script>
<style type="text/css">
.blubg strong{ margin-top:10px; margin-bottom:10px;line-height:30px; display:block; border-bottom:1px solid #ccc; font-size:14px;}
.navbar-default .navbar-nav>#Menu{SField sid="视频数据源标签" FD="FirstNodeID" page="0"/}>a, .navbar-default .navbar-nav>#Menu{SField sid="视频数据源标签" FD="FirstNodeID" page="0"/}>a:hover, .navbar-default .navbar-nav>#Menu{SField sid="视频数据源标签" FD="FirstNodeID" page="0"/}>a:focus { color: #555; background-color: #e7e7e7 }
</style>
</head>
<body>
{ZL.Label id="全站头部"/} 
<div class="container mySites padding0 Recommend_list"><p>您现在正在浏览的：<a href="/">首页</a> > <a href="{ZL:GetNodeUrl({SField sid="视频数据源标签" FD="NodeID" page="0"/})/}">{ZL.Label id="输出指定ID节点名" NodeID="{SField sid="视频数据源标签" FD="NodeID" page="0"/}" /}</a> > {SField sid="视频数据源标签" FD="Title" page="0"/}</p></div><!-- -->

<!--面包屑导航结束 -->

<!--内容主体开始 -->
<div class="container myAnnoun padding0">
<div class="row margin0">
<div class="col-lg-9 col-md-9  col-sm-9  col-xs-12 padding0">
<div class="blubg">
<div class="row margin0" style=" padding-bottom:12px;border-bottom:1px dotted #ccc;">
<h1  class="col-lg-7 col-md-7  col-sm-7  col-xs-12 padding0" style=" text-align:right;font-size:24px;">{SField sid="视频数据源标签" FD="Title" page="0"/}</h1>
<div class="col-lg-5 col-md-5  col-sm-5  col-xs-12 padding0"><!-- JiaThis Button BEGIN -->
<div class="jiathis_style" style="margin-left:10px;">
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_weixin"></a>
	<a class="jiathis_button_renren"></a>
	<a class="jiathis_button_xiaoyou"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END --></div>
</div><!--row end -->



<div id="v_content">
<embed src="{SField sid="视频数据源标签" FD="url" page="0"/}" allowFullScreen="true" quality="high" width="860" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
</div><!--v_content end-->
<strong>视频介绍</strong>
{SField sid="视频数据源标签" FD="content" page="0"/}
</div><!--blubg end-->



<!-- 多说评论框 start --> <div class="ds-thread" data-thread-key="<?php echo $node->nid;?>" data-title="<?php echo htmlspecialchars($node->title);?>" data-author-key="<?php echo $node->uid;?>"></div> <!-- 多说评论框 end --> <!-- 多说公共JS代码 start (一个网页只需插入一次) --> <script type="text/javascript"> var duoshuoQuery = {short_name:"u8u8888"}; (function() { var ds = document.createElement('script'); ds.type = 'text/javascript';ds.async = true; ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js'; ds.charset = 'UTF-8'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds); })(); </script> <!-- 多说公共JS代码 end --> 






</div>



<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 myContent_rbox padding0">
<div style="padding-left:18px;">
<div class="item_list" style="clear:both;border:1px solid #ccc;">
<div class="mainR_title_li" style=" margin-bottom:10px;"><strong>推荐视频</strong></div>
<ul class="padding0">
{ZL.Label id="输出视频列表_推荐" NodeID="9" TitieNum="18" ShowNum="20" /}
</ul><div class="clearfix"></div>
</div><!--myContent_rbox end-->
<div class="mainR_list" style="clear:both;margin-top:10px;border:1px solid #ccc;">
<div class="mainR_title_li" style=" clear:both;"><strong>点击排行榜</strong></div>
<ul class="topic padding0">
{ZL.Label id="输出指定节点标题_无时间_点击数" NodeID="1" TitleNum="38" ShowNum="10" /}
</ul>
<div class="clearfix"></div>
</div><!--循环块之一结束 --> 
</div>
</div>
</div><!--myAnnoun end-->
</div>



<div class="content_a" style="margin-top:10px;"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 myContent_rbox  padding0">
<div style=" margin-left:76px;">
<div style="margin-right:90px;">
<div class="Recommend">
<div class="Recommend_list"><strong>根据浏览猜您喜欢</strong></div><!--topic end -->
<div class="project_li">
<ul class="padding0" align="center" >  
{ZL.Label id="输出黄页分类_带新推荐" Titlenum="25" ShowNum="12" synnum="26" /}
</ul><div class="clearfix"></div>
</div>
</div>
</div>
</div><!--Recommend_li end -->
</div><!--Recommend end -->





<div style="clear:both;"></div>
{ZL.Label id="全站底部"/}<div class="clear"></div>
</body>
</html>