{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/Template/office/style/images/win8_symbol_140x140.png" />
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<script type="text/javascript" src="{$CssDir/}js/dh_1.js"></script>
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#bs-example .meuses{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/} a{ color:#FF0;}
</style>
</head>
<body>

<div class="dai">
<ul>
<li><a href="{ZL:GetNodeLinkUrl(45)/}?t=8&t1=2">免费代理</a></li>
<li><a href="{ZL:GetNodeLinkUrl(46)/}?t=12&t1=5">VIP代理</a></li>
<li><a href="{ZL:GetNodeLinkUrl(47)/}?t=16&t1=8">钻石代理</a></li>
<li><a href="{ZL:GetNodeLinkUrl(48)/}?t=20&t1=10">至尊代理</a></li>
</ul>

</div>
  
</body>
</html>